* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.basket {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    
}

.container-product div {
    max-width: 310px;
    display: flex;
    justify-content: space-between;
}

.container-product div:nth-of-type(2){
    color: #00000080;
}

nav ul {
    display: flex;
    justify-content: space-between;
    margin: 20px 30px;
}

nav ul li {
    list-style: none;
}

input {
    border: none;
    border-radius: 8px;
    padding: 10px 12px;
    background-color: #F2F0F3;
}

.orange {
    background-color: #FF7A00;
    display: flex;
    justify-content: center;
    gap: 70px;
    text-align: center;
    align-items: center;
    color: white;
    padding: 10px;
    margin: 20px 47px;
}